* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  font-family: "Open Sans", "Helvetica Neue", "Microsoft YaHei", Arial, sans-serif;
  font-size: 18px;
  color: #333;
  background: url(../images/bg_cover.jpg); }

h2 {
  line-height: 2em; }

a {
  text-decoration: none; }

ul li {
  list-style-type: none; }

dl {
  line-height: 1.5em; }
  dl dd {
    list-style-type: none; }

strong {
  font-weight: bolder;
  padding: 0 .3em; }

aside.self-pic {
  position: fixed;
  top: 0;
  right: 5em; }

aside.infos-extend {
  position: fixed;
  top: 35%;
  right: 0; }
  @media screen and (max-width: 768px) {
    aside.infos-extend {
      z-index: 9999; } }
  aside.infos-extend ul li {
    line-height: .5em;
    margin-top: .5em;
    -webkit-border-radius: .3em 0 0 .3em;
    -moz-border-radius: .3em 0 0 .3em;
    -ms-border-radius: .3em 0 0 .3em;
    -o-border-radius: .3em 0 0 .3em;
    border-radius: .3em 0 0 .3em;
    background-color: black;
    -webkit-opacity: 0.4;
    -moz-opacity: 0.4;
    -ms-opacity: 0.4;
    -o-opacity: 0.4;
    opacity: 0.4;
    position: relative;
    right: -5.4em;
    cursor: pointer;
    -webkit-transition: right .5s;
    -o-transition: right .5s;
    transition: right .5s; }
    aside.infos-extend ul li:hover {
      right: 0; }
    aside.infos-extend ul li a {
      font-weight: bold;
      color: #fff;
      vertical-align: 65%;
      padding-left: .5em; }

.contanier {
  background-color: #f8f8fd;
  margin-top: .5em;
  box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.4), 0 0 30px rgba(10, 10, 0, 0.1) inset;
  position: absolute;
  top: 0;
  left: 23%;
  right: 23%; }
  @media screen and (max-width: 768px) {
    .contanier {
      left: 0;
      right: 0; } }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .contanier {
      left: 12%;
      right: 12%; } }
  @media screen and (min-width: 992px) and (max-width: 1200px) {
    .contanier {
      left: 18%;
      right: 18%; } }
  .contanier article.content {
    margin-top: .7em; }
    .contanier article.content .col-part {
      -webkit-columns: 20em 2;
      -moz-columns: 20em 2;
      -o-columns: 20em 2;
      columns: 20em 2;
      -webkit-column-gap: 10px;
      -moz-column-gap: 10px;
      -o-column-gap: 10px;
      column-gap: 10px; }
    .contanier article.content section {
      margin: 1em 0 1em 0;
      padding-left: .5em; }
      .contanier article.content section .sec-timeline-wrap h3 {
        padding: .2em 0; }
      .contanier article.content section .sec-timeline-wrap dt {
        padding: .2em 0; }
    .contanier article.content section.edu {
      border-left: 0.2em solid #3366CC; }
    .contanier article.content section.exp {
      border-left: 0.2em solid #FF6600; }
      .contanier article.content section.exp .project-item h3.time-line {
        color: #fff;
        background-color: #FF6600;
        margin-left: -0.5em;
        padding-left: 0.5em; }
        .contanier article.content section.exp .project-item h3.time-line time.work-time {
          float: right;
          padding-right: 0.5em; }
    .contanier article.content section.skills {
      border-left: 0.2em solid #FF3300; }
      .contanier article.content section.skills .skills-item dl dt {
        color: #fff;
        background-color: #FF3300;
        margin-left: -0.5em;
        padding-left: 0.5em; }
  .contanier .col {
    float: left; }
  .contanier .col-6 {
    width: 50%;
    padding-left: .7em; }

header {
  color: #fff;
  padding: 1.5em;
  position: relative;
  background-color: #333333; }
  header:after {
    height: 0;
    content: '.';
    display: block;
    visibility: hidden;
    clear: both; }
  header address {
    font-style: normal;
    float: right;
    text-align: left;
    line-height: 1.5em;
    margin: .5em 0; }
    @media screen and (max-width: 425px) {
      header address {
        float: left; } }
    header address ul li a {
      margin-left: 0.2em; }
  @media screen and (max-width: 425px) {
    header section {
      clear: both; } }
  header section span {
    font-size: 4em;
    white-space: nowrap; }
